.caja {

  width: 300px;
  height: 300px;
  border: solid 1px black;
  display: flex;
  flex-wrap: wrap;
}

.caja div{
    width: 20px;
    height: 20px;
}

.invasor {
    background-color: purple;
    border-radius: 10px;
}

.nave {
 background-color: green;
}

.laser {
    background-color: orange;
}

.explosion {
    background-color: red;
}