html{
    background-color: gray;
}

.caja {
background-color: black;
  width: 600px;
  height: 600px;
  border: solid 2px blueviolet;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.caja div{
    width: 40px;
    height: 40px;
}

.invasor {
    background-image: url("Img/allien.gif");
    background-size: cover;
}

.nave {
    background-image: url("Img/nave.png");
    background-size: cover;
}

.laser {
    background-image: url("Img/laser.jpg");
    background-size: cover;
}

.explosion {
    background-image: url("Img/explosion.gif");
    background-size: cover;
}